<h2>
  <%= @animal.name %> greets you!
</h2>


<table>
  <thead>
    <tr>
      <th>
        URL
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        http://wdi-woodstock/api/animals
      </td>
      <td>
        ALL the animals!
      </td>
    </tr>
    <tr>
      <td>
        http://wdi-woodstock/api/animals/:id
      </td>
      <td>
        A specific animal!
      </td>
    </tr>
  </tbody>
</table>
